/* 小屏幕 */
@media screen and (max-width: 992px) {
    nav a {
        font-size: small;
    }

    main{
        padding: 0 0;
    }
    .list{
        width: 38%;
    }
    #notice{
        width: 50%;
        font-size: small;

    }
    #news{
        width:100%;
        font-size: small;
    }
}


/* 较小屏幕 */
@media screen and (max-width: 768px) {
    nav a {
        font-size: xx-small;
    }

    nav .fa {
        display: none;
    }

    aside img{
        margin: 5% 0;
    }

    footer table {
        width: 100%;
        float: none;
        border-bottom: 1px solid white;
    }

    footer address {
        width: 100%;
        float: none;
        border-left: none;
        padding-top: 3%;
    }

    main{
        padding: 0 0;
    }

    .catalog p{
        margin: 0 0 0 10px;
    }

    .list{
        width: 38%;
        font-size: x-small;
    }

    .rank p{
        font-size: medium;
    }

    #notice{
        width: 45%;
        font-size: x-small;
    }
    #imgBanner{
        width:50%;
        float: right;
    }
    #news{
        width:100%;
    }

}