/*公用类*/
html{
    width: 100%;
}
body{ margin:0 auto;
    padding:0;
    font-family:"Microsoft YaHei";
    width:100%;
    /* min-width: 1200px; */
    
    }
    input,button,select,textarea{outline:none;}
    div,p,ul,li{ margin:0; padding:0;}
    ul,li{ list-style:none;}
    a{ text-decoration:none;font-family:"Microsoft YaHei";}
    .qc{clear:both;}
    .bgzy{width:100%;border:0 solid #00FF00; }
    img{ border:0px;outline-width:0px;vertical-align:top;  }
    b{
        font-weight:100px;}
    h1,h2,h3,h4,h5,h6,em{
        font-weight:normal;
        padding:0px;
        margin:0;
        font-weight:normal;}
    .bk{
        border:1px solid #e4e4e4;
        }
    i{
        font-style:normal;}
    input{
        font-family:"微软雅黑";}
    textarea{
        font-family:"微软雅黑"; padding:0; margin:0;}
        em{font-weight:normal;}
    .qc{ clear:both;}
    *{margin:0;padding:0;list-style-type:none;}
    a,img{border:0;}
/*----------------公用类结束------------------------*/
.s_top{ width: 100%; height: 90px;}
.s_top_1{width: 100%; margin: 0 auto; }
.s_top_1 h1{ float: left;}
.s_top_1 h1 img{ width:100%;}

.s_top_2{width: 100%; float: left;background: rgb(153, 126, 228); padding-left: 11%;padding-top:0;}
.s_top_2 ul li{position: relative; font-size: 16px; float: left;margin: 0 1px; line-height: 50px;width: 10%}
.s_top_2 ul li a{ color: #000;  margin-left: 4%}
.s_top_2 ul li a i{ width: 0; height: 2px; background: #005bf8; display: block; position: absolute; top: 40px; left: 0;
	transition:width .4s;
-moz-transition:width .4s; /* Firefox 4 */
-webkit-transition:width .4s; /* Safari and Chrome */
-o-transition:width .4s; /* Opera */} 
.s_top_2 ul li a:hover i{ width: 90%;margin-left: 10%}
.s_top_2 ul li a:hover,.s_top_2 ul li.s_xwzxde a{color: #005bf8;}
.s_top_2 ul li:hover{background: #FFF;border-top-left-radius: 10%;border-top-right-radius: 10%;}

.s_top_4{ float: left; padding-left: 15%;}/*导航距左*/
.s_top_4{ height: 90px;position:fixed;z-index: 9999;margin-right:200px;background-color: #fff;-webkit-box-shadow:0 2px 8px rgba(0,0,0,.4);box-shadow:0px 2px 8px rgba(0,0,0,0.4);}
.s_top_4 ul li{position: relative; font-size: 16px; float: left;margin: 0 30px; line-height: 90px;}
.s_top_4 ul li a{ color: #000; display: block;}
.s_top_4 ul li a i{ width: 0; height: 2px; background: #005bf8; display: block; position: absolute; top: 30px; left: 0;
	transition:width .4s;
-moz-transition:width .4s; /* Firefox 4 */
-webkit-transition:width .4s; /* Safari and Chrome */
-o-transition:width .4s; /* Opera */} 
.s_top_4 ul li a:hover i{ width: 100%;}
.s_top_4 ul li a:hover,.s_top_ ul li.s_xwzxde a{color: #005bf8;}

.s_dejxz{width: 100%;position: relative; margin-top: 140px }/*轮播距顶*/
#html5zoo-1{ width: 100% !important;}
.html5zoo-img-0 img{height:90%;}
.s_wmdys{ width: 100%; background: #f3f3f3; padding-bottom: 30px;}
.s_wmdys_1{ width: 1200px; margin: 0 auto;}
.s_wmdys_2{ width: 1200px;padding-top: 35px;}
.s_wmdys_2 p.s_wmdys_3,.s_gsjj_1 p,.s_cpzs_1 p,.s_xwzx_t p{line-height:36px; font-size: 26px; text-align: center; color: #004ce6;}
.s_wmdys_2 p.s_wmdys_3 i,.s_gsjj_1 p i,.s_cpzs_1 p i,.s_xwzx_t p i{ color: #000;}
.s_wmdys_4{margin: 0 auto; text-transform: uppercase; width: 234px; font-size: 13px; color: #afaeae; line-height: 24px;}
.s_wmdys_4 span{margin-top:12px; float: left; position:relative; display: block;background: #004ce6; height:1px; width: 50px;}
.s_wmdys_4 span i{ display: block;}
.s_wmdys_4 em{ font-style: normal; font-size: 13px; float: left;}
.s_wmdys_5{padding-top: 35px;}
.s_wmdys_5 ul li{ float: left; width:240px; text-align: center; text-align: center;}
.s_wmdys_5 ul li h3{ font-size: 15px; color: #6f6c6c; line-height:40px;}
.s_gsjj{ width: 100%;background: url(../images/s_11.jpg) no-repeat fixed;height: 546px; }
.s_gsjj_1{ width: 1200px; margin: 0 auto; padding-top: 35px;}
.s_gywm_5{ width:1200px; padding-top: 35px;}
.s_gywm_6{ float: left; margin-left:40px ; position: relative; width: 535px; height: 345px;}
.s_gywm_6 img{ width: 535px; height: 345px;position:relative; z-index: 2;}
.s_gywm_6 h1{width: 535px; height: 345px; position: absolute; top:20px; left:-20px; background:rgba(0,76,230,0.44);}
.s_gywm_7{padding-top: 30px;  width: 550px; float: right; margin-right: 20px;}
.s_gywm_7 h4{margin-bottom: 30px; font-size: 14px; color: #666; line-height: 34px; height: 238px; text-align: justify;}
.s_gywm_7 h5{margin: 0 auto; width: 120px; border: 1px solid #004ce6; line-height: 31px; text-align: center; border-radius:17px ;}
.s_gywm_7 h5 a{ color: #8a8888;}

.s_cpzs{ width: 1200px; margin: 0 auto;}
.s_cpzs_1{ width: 1200px; padding: 35px;}
.s_cpzs_2{width: 100%; background: url(../images/s_13.jpg) bottom no-repeat;}
.s_cpzs_3{ width: 1200px; margin: 0 auto;}
.s_cpzs_3 ul li{float: left; position: relative; width: 390px; margin-right: 15px;}
.s_cpzs_3 ul li h1{ width: 390px; height: 390px; overflow: hidden;}
.s_cpzs_3 ul li h1 img{ width: 390px; height: 390px;-webkit-transition: all .8s; -moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;transition: all .8s;}
.s_cpzs_3 ul li .s_cpzs_4{display: none; position: absolute; top: 0; left: 0;padding: 10px; width: 370px; height: 370px; background: rgba(0,0,0,0.6);}
.s_cpzs_3 ul li .s_cpzs_4 .s_cpzs_5{border: 1px solid #fff;width: 368px; height: 368px;     display: table-cell;
    vertical-align: middle; text-align: center;}
.s_cpzs_3 ul li .s_cpzs_4 .s_cpzs_5 h2{ font-size: 29px; color: #fff; line-height:75px;}
.s_cpzs_3 ul li .s_cpzs_4 .s_cpzs_5 h3{ width: 36px; height: 36px; background: #004ce6; border-radius:18px; overflow: hidden; margin: 0 auto; line-height: 36px; color: #fff;}
.s_cpzs_3 ul li:hover .s_cpzs_4{display: block;}
.s_cpzs_3 ul li:hover h1 img{width:430px; height:410px; margin-top:-20px; margin-left:-10px;}

.s_xwzx_t{width: 1200px; padding-bottom: 35px;}
.s_xwzx{ width: 1200px; margin: 0 auto; padding-top: 35px;}
.s_xwx_1{ width: 570px; float: left; margin-left: 20px; position: relative; }
.s_xwx_1 a,.s_xwx_2 ul li a{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #00FF00;filter:alpha(opacity=0);  
	-moz-opacity:0;  
	-khtml-opacity: 0;  
	opacity: 0; cursor: pointer;	}
.s_xwx_1 h1{width: 570px; height: 364px;}
.s_xwx_1 h1 img{ width:570px; height: 364px; }
.s_xwx_1 h2{font-size: 17px;margin-bottom:3px;color: #484848; line-height:35px; margin-top:21px;}
.s_xwx_1 h3{font-size: 13px; color: #bcbcbc; line-height: 22px; height: 66px; overflow: hidden;}
.s_xwx_1:hover h2{color: #004ce6; padding-left: 15px;-webkit-transition: all .8s; -moz-transition: all .8s;-ms-transition: all .8s;-o-transition: all .8s;transition: all .8s; }

.s_xwx_2{ float: right; width: 560px; margin-right: 23px;}
.s_xwx_2 ul li{ margin-bottom:21px; position: relative;}
.s_xwx_2 ul li .s_xwzx_3{float: left; width: 105px; height: 107px;}
.s_xwx_2 ul li .s_xwzx_3 p{ background: #eeeeee; line-height: 77px; text-align: center; color: #484848; font-size:45px; font-weight: bold;}
.s_xwx_2 ul li .s_xwzx_3 i{ background: #eeeeee; display: block; border-top:1px solid #fff; line-height: 29px; color:#484848; font-size: 12PX; text-align: center;}
.s_xwx_2 ul li .s_xwzx_4{float: right; width:428px; padding-left: 27px;}
.s_xwx_2 ul li .s_xwzx_4 h1{ font-size: 17px;color: #484848; line-height: 35px; margin-bottom:3px;}
.s_xwx_2 ul li .s_xwzx_4 h2{ font-size: 13px; color: #bcbcbc; line-height: 22px; height: 66px; overflow: hidden;}
.s_xwx_2 ul li:hover .s_xwzx_4 h1{color: #004ce6;}

.bod{width: 90%;padding-left: 10%}

.footer{ background: #323639; width: 100%;}
.footer_1{ margin: 0 auto; position: relative;}
.footer_2{ width: 950px; position: absolute; left:150px; top: -50px; height: 58px; color: #666; background: #004ce6; line-height: 58px; text-align: center;}
.footer_2 a{ color: #fff;}
.footer_3{padding-top:20px;overflow:hidden;}
.footer_4{ float: left; padding-top: 20px; font-size: 14px; width: 300px; color:#616161; line-height: 30px;margin-left: 100px}
.footer_4 i{ color: #ffffff; font-weight: bold; font-size: 16px;}
.footer_5{ float: left; width: 449px; color: #666; line-height: 24px;font-size: 12px; padding: 30px 80px 0;}
.footer_6{float: left; width: 500px; text-align: center;color: #616161;margin-top: 30px;margin-left: 30px}
.footer_6 h1{ width: 110px; height: 110px;margin: 0 auto;}
.footer_6 h1 img{ width: 110px; height: 110px}
.footer_6 h2{ font-size: 12px; text-align: center; color: #fff; line-height:30px;}
.Box {position: relative;margin-top: 40px;}
.Box .Box_con {position: relative;}
.Box .Box_con .btnl {position: absolute;}
.Box .Box_con .btn {display: block;width: 41px;height: 41px;position: absolute;top: 80px;cursor: pointer;}
.Box .Box_con .btnl {background: url(../images/jtl02.png) no-repeat center;left: -72px;}
.Box .Box_con .btnr {background: url(../images/jtr02.png) no-repeat center;right: -72px;}
.Box .Box_con .btnl:hover {background: url(../images/jtl03.png) no-repeat center;}
.Box .Box_con .btnr:hover {background: url(../images/jtr03.png) no-repeat center;}
.Box .Box_con .conbox {position: relative;overflow: hidden;}
.Box .Box_con .conbox ul {position: relative;list-style: none;}
.Box .Box_con .conbox ul li {float: left;width: 285px;height: 200px;margin-left: 20px;overflow: hidden;}
.Box .Box_con .conbox ul li:first-child {margin-left: 0;}
.Box .Box_con .conbox ul li img {display: block;width: 285px;height: 200px;transition: all 0.5s;}
.Box .Box_con .conbox ul li:hover img {transform: scale(1.1);}
.Box .BoxSwitch {margin-top: 30px;margin-bottom: 30px;text-align: center;}
.Box .BoxSwitch span {display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;width: 30px;height: 3px;background: #ccc;margin: 0 5px;cursor: pointer;}
.Box .BoxSwitch span.cur {background: blue;}
.bo{float: left;position: relative;top: 150px}
.card {
    position: relative;
    margin-bottom: 24px;
    /* margin-top: 10px; */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-direction: normal;
}
.wrap{
    position: relative;
    float: left;
    margin-left: 50px;
    color: #000;
    line-height: 15px;
    top: 20px;
}
a{
    text-decoration:none;
}
.ys > li > a {
    color: #535355;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    font-size: 30px
}

.ys li>a {
    display: block;
    /*white-space: nowrap;*/
}

.ys > li > a:focus {
    background-color: #eee;
    color: #eee;
}
.wrapp{
  

    margin-left: 20px;
    color: #000;
    line-height: 40px;
    top: 0px;
}
.wrappp{
    position: relative;
    float: left;
    margin-left: 20px;
    color: #000;
    line-height: 40px;
    top: 0px;
}
.lb{
    border:1px solid #eee;
    text-align: center;
}
.lb2{
    border-bottom:1px solid #eee;
    text-align: left;
    float: left;
}
.lb3{
    border-bottom:1px solid #eee;
    text-align: left;
    float: right;
}
.card:before,
.card:after {
    content: " ";
    display: table;
}
.card:after {
    clear: both;
}
.card > .nano:last-child {
    border-radius: 0 0 2px 2px;
}
.card.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card-head {
    border-radius: 2px 2px 0 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    /* text-transform: uppercase; */
    color: #3a405b;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    min-height: 30px;
}
.card-head:before,
.card-head:after {
    content: " ";
    display: table;
}
.card-head:after {
    clear: both;
}
.card-head header {
    display: inline-block;
    padding: 11px 20px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
}
.card-head header > h1,
.card-head header > h2,
.card-head header > h3,
.card-head header > h4,
.card-head header > h5,
.card-head header > h6 {
    vertical-align: middle;
    margin: 0;
    line-height: 1;
}
.card-head header small {
    color: inherit;
    opacity: 0.6;
    font-size: 75%;
}
.card-head > div {
    display: inline-block;
}

.card-head.card-head-xs header {
    font-size: 15px;
}
.card-head.card-head-sm header {
    font-size: 15px;
}
.card-head.card-head-lg header {
    font-size: 24px;
}
.card-body {
    padding: 10px 24px 14px 24px;
    position: relative;
}
.card-body:before,
.card-body:after {
    content: " ";
    display: table;
}
.card-body:after {
    clear: both;
}
.card-body:last-child {
    border-radius: 0 0 2px 2px;
}
.card-body.table-responsive {
    margin: 0;
}
.card-actionbar {
    padding-bottom: 8px;
    position: relative;
}
.card-actionbar:before,
.card-actionbar:after {
    content: " ";
    display: table;
}
.card-actionbar:after {
    clear: both;
}
.card-actionbar:last-child {
    border-radius: 0 0 2px 2px;
}
.card-actionbar-row {
    padding: 6px 16px;
    text-align: right;
}
.card-tiles > .row,
.card-type-blog-masonry > .row {
    margin: 0;
}
.card-tiles > .row > [class^="col-"],
.card-type-blog-masonry > .row > [class^="col-"] {
    padding: 0;
}
.card-underline .card-head {
    border-bottom: 1px solid rgba(150, 156, 156, 0.4);
}
.card-underline .card-foot {
    border-top: 1px solid rgba(150, 156, 156, 0.4);
}
.card-bordered,
.card-outlined {
    border: 2px solid ;
}
.cardbox:hover {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transition: all 150ms linear;
}
.cardbox {
    background-color: rgba(255,255, 255, 0.5);
    min-height: 50px;
    position: relative;
    margin-bottom: 20px;
    transition: .5s;
    border: 1px solid #f2f2f2;
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.cardbox .header {
    color: #555;
    padding: 0 0 10px 0;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
    box-shadow: none;
    margin-bottom: 0;
    margin: 15px;
    border-radius: 4px;
    padding: 15px 0;
    background-color: #fff;
}
.cardbox .header h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #3a405b;
    text-transform: uppercase;
}
.cardbox .body {
    font-size: 15px;
    padding: 15px;
    font-weight: 400;
}
.card-box {
    background-color: rgba(225, 225, 225, 0.1);
    min-height: 50px;
    box-shadow: none;
    position: relative;
    margin-bottom: 20px;
    transition: .5s;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}
.card-box:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -moz-box-shadow: 0 20px 20px rgba(0,0,0,.1);
    webkit-box-shadow: 0 0 25px -5px #9e9c9e;
    box-shadow: 0 0 25px -5px #9e9c9e;
}
.more{
    float:right;
    border-color: rgba(255, 255, 255, 0); 
    background: rgba(255, 255, 255, 0); 
    font-size: 14px;
    color: #363637;
    margin-top: 20px;

}
.ttitle{
    padding: 0px 0px 0px;
}
.big{
    font-family: "Microsoft Yahei";
    font-size: 20px;
    font-weight: 600;
}
.small{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    padding:0px 0px 0px 0px;
}
/*条目*/
.slip{
	font-family: "Microsoft Yahei";
    font-size: 16px;
    padding: 0px 0px 0px 5px;
}
.slip > ul>li > div>a {
    color: #535254;
    margin-left:0px; 
    padding: 0px 0px 0px 0px;
}
.slip ul>li>div>a {
    display: block;
    /*white-space: nowrap;*/
}
.slip ul > li >div> a:hover,
.slip ul > li >div> a:focus {
    background-color: #7f76d1;
    color: #363637;
    outline: none;
    text-decoration:none;
}
.hhr {
	float: left;
	width:1px; 
	height:160px; 
	z-index:1; 
	background-color: #fff; 
	layer-background-color: #000000; 
	border: 1px none #fff; 
	margin-left: 200px; 

}
.hhr2 {
	float: left;
	width:1px; 
	height:250px; 
	z-index:1; 
	background-color: #fff; 
	layer-background-color: #000000; 
	border: 1px none #fff; 
	margin-left: 200px; 

}
.left{
    width:200px;
    height: 1000px;
    float:left;
	top:150px;
	position: absolute;
 }
.right{
    width: 80%;
    height: 1000px;
    float:right;
}
.spx{
	position:absolute;
	top:70px;
    }
a{text-decoration:none;
}
.fp{font-size:20px;
	color:rgb(137, 113, 240);
	text-decoration:none;
	}
span{font-size:15px;
	color:#000;
	text-decoration:none;}
.nav{
	width:180px;
	height:205px;
	position:fixed;
	left:0;
	top:30%;
	margin-top:-103px;
	font-family:'Miscrosoft yaHei';
	}
.tit{
	width:180px;
    height:60px;
    color: #000}
.nav-li{
	width:180px;
	height:auto;
	text-align:center;
	vertical-align:middle;
	line-height:40px;
	color:#FFF;
	font-size:16px;
	cursor:pointer;
}
.nav-li:hover ul{
	display:block;
	}	
.nav-li ul{
	width:180px;
	height:auto;
	display:none;
}
a:hover{
	color:#00F;
	}
.nav-li ul li{
	width:180px;
	height:auto;
	border-bottom:1px dashed #666;
	color:#FFF;
	text-align:center;
	line-height:40px;
    }
/* Tabs */

.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #fff;
}

.tabs-container .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .nav-tabs {
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .tab-pane .panel-body {
    border-top: none;
}

.tabs-container .tabs-left .tab-pane .panel-body,
.tabs-container .tabs-right .tab-pane .panel-body {
    border-top: 1px solid #e7eaec;
}

.tabs-container .nav-tabs > li a:hover {
    background: transparent;
    border-color: transparent;
}

.tabs-container .tabs-below > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs,
.tabs-container .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-container .tabs-left .panel-body {
    position: static;
}

.tabs-container .tabs-left > .nav-tabs,
.tabs-container .tabs-right > .nav-tabs {
    width: 20%;
}

.tabs-container .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
}

.tabs-container .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
}

.tabs-container .tab-content > .tab-pane,
.tabs-container .pill-content > .pill-pane {
    display: none;
}

.tabs-container .tab-content > .active,
.tabs-container .pill-content > .active {
    display: block;
}

.tabs-container .tabs-below > .nav-tabs {
    border-top: 1px solid #e7eaec;
}

.tabs-container .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-container .tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 4px 4px;
}

.tabs-container .tabs-below > .nav-tabs > li > a:hover,
.tabs-container .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container .tabs-left > .nav-tabs > li,
.tabs-container .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-container .tabs-left > .nav-tabs > li > a,
.tabs-container .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
}

.tabs-container .tabs-left > .nav-tabs .active > a,
.tabs-container .tabs-left > .nav-tabs .active > a:hover,
.tabs-container .tabs-left > .nav-tabs .active > a:focus {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
    *border-right-color: #ffffff;
}

.tabs-container .tabs-right > .nav-tabs {
    float: right;
    margin-left: 5px;
}

.tabs-container .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
}

.tabs-container .tabs-right > .nav-tabs .active > a,
.tabs-container .tabs-right > .nav-tabs .active > a:hover,
.tabs-container .tabs-right > .nav-tabs .active > a:focus {
    border-color: #e7eaec #e7eaec #e7eaec transparent;
    *border-left-color: #ffffff;
    z-index: 1;
}
/* PANELS */

.panel.blank-panel {
    background: none;
    margin: 0;
}

.blank-panel .panel-heading {
    padding-bottom: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f0f3f4;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav.nav-tabs li {
    background: none;
    border: none;
}

.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #e6e6e6;
    color: #676a6c;
}

.ui-tab .tab-content {
    padding: 20px 0px;
}


.Rank{
    width: 100%;
}